<link rel="stylesheet" href="/css/user_profile.css" />
<h1>CodeSpace / <%= title %></h1>
<!-- For Current  User Data -->
<!-- <p><%= user.name %></p>
    <p><%= user.email %></p> -->

<% if(user.id == profile_user.id){ %>
<form action="/users/update/<%= profile_user.id%>" enctype="multipart/form-data" method="post">
  <input
    type="text"
    name="name"
    placeholder="Enter Your Name.."
    value="<%= profile_user.name %>"
    required
  />
  <input
    type="text"
    name="email"
    placeholder="Enter Your Email.."
    value="<%= profile_user.email %>"
    required
  />
  <input type="file" name="avatar" placeholder="profile picture">
  <input type="submit" value="Update" />
</form>
<% }else{ %>
<!-- For All Users Data -->
<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>
<% } %>
